.addProject {
    background-color: rgb(67 67 67 / 60%);
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity:1;
    width: 100%;
    height: 100%;


    &_inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        width: 40%; 
        background-color: rgb(255, 255, 255);
        z-index: 99;
        border-radius: 20px;
        overflow: auto;
        padding-bottom: 50px;   
        padding-top: 20px;

        .fa-xmark {
            position: absolute;
            right: 30px;
            top: 20px;    
            cursor: pointer;
            font-size: 20px;
        }
        

        p {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 600;  
            color: #D54D59;

        }
    }

    &_labelInput {
        position: relative;
        width: 100%;
        margin: 5px 0px;

        label {
            color: rgb(22, 22, 22);   
            font-size: 15px;
            font-weight: bold !important; 
        }
    }


    &_fields {
        position: relative;
        top: 20px;  
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;



        textarea {
            width: 60%;
            height: 100px;
            width: 100%;
            border: none;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgb(148, 148, 148);
            background-color:transparent;
            margin: 20px 0px;
            color: rgba(0, 0, 0, 0.801);
        }


        
         textarea:focus{    
            font-weight: bold;
            color: rgba(41, 39, 39, 0.959);
           }


        button {
           height: 40px;
           width: 100px;
           border-radius: 10px;
           margin-top: 20px;
           cursor: pointer;
           border: none;
           outline: none;   
           background-color: #c24d5c;
           color: white;
           font-size: 13px;
        }

        button:hover {
           background-color: #cc243a;
        }


        input[type = "text"] {
            height: 20px;
            width: 100%;
            border: none;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgb(148, 148, 148);
            background-color:transparent;
            margin: 20px 0px;
            color: rgba(0, 0, 0, 0.801);
           }


           input[type = "number"] {
            height: 20px;
            width: 100%;
            border: none;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgb(148, 148, 148);
            background-color:transparent;
            margin: 20px 0px;
            color: rgba(0, 0, 0, 0.801);
           }

           input[type="text"]:focus{    
            font-weight: bold;
            color: rgba(41, 39, 39, 0.959);
           }

           input[type="number"]:focus{    
            font-weight: bold;
            color: rgba(41, 39, 39, 0.959);
           }

        
        .variants {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 60%;
        
             .variants > div {
            margin-right: 5px;
            }
            .variants > div:last-of-type {
            margin-right: 0;
            }
            .file {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100% !important;
            }
            .file > input[type='file'] {
            display: none
            }
            .file > label {
            font-size: 1rem;
            font-weight: 300;
            cursor: pointer;
            outline: 0;
            user-select: none;
            border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
            border-style: solid;
            border-radius: 4px;
            border-width: 1px;
            background-color: hsl(0, 0%, 100%);
            color: hsl(0, 0%, 29%);
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            }
            .file > label:hover {
            border-color: hsl(0, 0%, 21%);
            }
            .file > label:active {
            background-color: hsl(0, 0%, 96%);
            }
            .file > label > i {
                padding-right: 17px;
                color: #A09E9E;
            }
            }
    }

    &_updload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        input[type ="file"]{
            // width: 50%;
            background-color: #fd2845;
            color: white !important;
        }
   
         label {
            font-size: 20px;
            color: black;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
         }
    
    }

    &_uploadedImg {
        margin-top: 10px;
    }



    @media (max-width: 1024px) {
        &_inner {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 450px;
            width: 50%; 
            background-color: rgba(255, 255, 255, 0.651);
            z-index: 99;
            border-radius: 20px;
            overflow: auto;
            padding-bottom: 50px;   
            padding-top: 20px;
    }

}
    
  

}