.cardsSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
    // align-items: center;

    
    &_card {
        position: relative;
        top: 40px;  
        width: 25%;
        height: 420px;
        background-color: grey;
        display: flex;  
        flex-direction: column;  
        position: relative;
        // overflow: auto;
        
        
        img {
            height: 200px;
            position: relative;
            top: 0px;
        }


        button {
            margin: 10px 0px;
            width: 40%;

        }

        h5 {
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }

        p {
            color: white;
            font-size: 15px;
        }

        span {
            color: white;
        }
    }


     &_card::-webkit-scrollbar {
        display: none;
    }

    &_card::-webkit-scrollbar { width: 0 !important }
}   