.navSidebar {
    height: 100vh;
    width: 30%;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: black;
    z-index: 999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .fa-x {
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
        font-size: 20px !important;
        z-index: 99;
        cursor: pointer;
    }

    &_inner {
        height: 80vh;      
        top: 10%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;   
         
        h2 {
            font-size: 20px;
            // color: white;
            font-weight: bold;
            margin-top: 20px;
        }

        span {
            color: white;
            font-size: 20px !important;

        }

        h5 {
            color: white;
            font-size: 40px;
            font-weight: 700 !important;
        }
     
    }

    &_inner::-webkit-scrollbar
    {
        display: none;
        width: 0px;
    }


    &_cartList {
        position: relative;
        top: 20px;
        width: 80%;
        height: 230px !important;
        overflow: scroll;
        padding: 20px 0px;  
        color: black !important;
        background-color: white;
        margin: 20px 0px;

        span {
            color: black;
            font-weight: bold;

        }


        img {
            width: 30%;
        }
    }

    &_cartList::-webkit-scrollbar
    {
        display: none;
        width: 0px;
    }

    .total {
        margin-top: 20px ;
        color: white;
    }


   .cost {
    color: white ;
   }
}